.login {
  color: #848a9a;
  text-align: center;
  position: relative;

  .logo {
    height: 100px;
    width: 100px;
    background-image: url(images/logos/main.svg);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $primary;
    z-index: -1;
  }

  H1 {
    font-size: 28px;
    color: white;
    word-break: normal;
    z-index: 999;
  }

  SECTION {
    padding: 40px;
  }
}
